# (A) Deployment: 파드(컨테이너)를 1개 실행하라는 명령
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui-service-deployment
spec:
  replicas: 1 # ⭐️ 2개에서 1개로 수정
  selector:
    matchLabels:
      app: ui-service # 이 Deployment가 관리할 파드의 라벨
  template:
    metadata:
      labels:
        app: ui-service # 위 selector와 일치해야 함
    spec:
      containers:
      - name: ui-service-container
        # ⭐️ 1. (수정됨) Docker Hub의 내 이미지 주소
        #    (nks-kubectl 서버에서 'docker push'한 주소)
        image: "ourhome527/ui-service:v1" 
        ports:
        - containerPort: 8080 # ⭐️ Spring Boot 앱 포트 (application.yml의 server.port)
      
      # ⭐️ 2. (삭제됨) Public 이미지이므로 인증이 필요 없습니다.
      # imagePullSecrets:
      # - name: ncr-secret
---
# (B) Service: Deployment를 외부(인터넷)에 노출시키는 명령
apiVersion: v1
kind: Service
metadata:
  name: ui-service # K8s 내부에서 사용할 서비스 이름
  
# ... (이하 Service 부분은 동일) ...
# ⭐️ 3. (중요) NCP 로드밸런서를 자동으로 생성하라는 주석
  annotations:
    service.beta.kubernetes.io/ncloud-load-balancer-layer-type: "nlb"
    service.beta.kubernetes.io/ncloud-load-balancer-internal: "false" # Public LB
spec:
  # ⭐️ 4. (중요) 외부 접속이 가능하도록 'LoadBalancer' 타입을 지정
  type: LoadBalancer
  selector:
    app: ui-service # ⭐️ 위 (A) Deployment의 template.labels와 일치해야 함
  
  ports:
  - protocol: TCP
    port: 80 # ⭐️ 5. 외부(인터넷)에서 80 포트(http://)로 접속
    targetPort: 8080 # ⭐️ 6. 80 포트로 온 요청을 8080 포트(앱)로 전달