<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/css/style.css" />
	<title>게시글 상세</title>
</head>

<body>
	<div class="detail-container">

		<h2 class="detail-title" th:text="${article.title}">제목</h2>

		<div class="detail-info">
			<span th:text="'작성자: ' + ${article.writerId}"></span>
			<span th:text="'작성일: ' + ${article.regAt}"></span>
		</div>

		<div class="detail-content" th:text="${article.content}">
			내용
		</div>

		<a href="/" class="btn-back">목록으로</a>
	</div>
</body>

</html>