/*
 * =========================================
 * 1. index.html (메인 페이지) 스타일
 * =========================================
 */

.index {
	background-color: #ffffff;
	width: 100%;
	min-width: 1440px;
	min-height: 1024px;
	position: relative;
}

.index .frame-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 1440px;
	height: 1024px;
	background-color: #ffffff;
	position: relative;
	/* 자식 요소들의 'absolute' 기준 */
}

/* --- 상단 검색창 --- */
.index .search-box {
	position: absolute;
	top: 64px;
	left: 356px;
	width: 727px;
	height: 89px;
	background-color: #ffffff;
	border-radius: 30px;
	border: 2px solid;
	border-color: #1db51d;
}

/* --- 오른쪽 하단 박스 (비어있음) --- */
.index .login-box {
	position: absolute;
	top: 460px;
	left: 1014px;
	width: 372px;
	height: 447px;
	background-color: #ffffff;
	border-radius: 30px;
	border: 2px solid;
	border-color: #00000061;
}

/* --- 오른쪽 상단 박스 (로그인/프로필 영역) --- */
.index .div {
	position: absolute;
	top: 254px;
	left: 1014px;
	width: 372px;
	height: 169px;
	background-color: #ffffff;
	border-radius: 30px;
	border: 2px solid;
	border-color: #00000061;

	/* (추가) 버튼/프로필을 박스 중앙에 배치 */
	display: flex;
	justify-content: center;
	align-items: center;
}


/* --- [수정됨] 로그인 전/후 스타일 --- */

/* 1. 로그인 전 버튼 (큰 초록색 버튼) */
.index .login-btn {
	width: 262px;
	height: 70px;
	background-color: #1db51d;
	border-radius: 3px;
	border: 1px solid #000000;
	font-family: "Istok Web-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 32px;
	padding: 0;
	text-align: center;
}

/* (삭제) .logout-btn 스타일은 아래 새 스타일로 대체 */


/* 2. [★새로 추가됨★] 로그인 후 프로필 박스 스타일 */

.user-profile-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 새 프로필 박스 (이미지의 회색 배경) */
.user-profile-box {
	display: flex;
	align-items: center;
	/* 세로 중앙 정렬 */
	width: 330px;
	/* .div(372px)보다 약간 작게 */
	height: 90px;
	padding: 15px;
	background-color: #f0f2f5;
	/* 옅은 회색 배경 */
	border-radius: 12px;
	box-sizing: border-box;
}

/* 프로필 사진 (원형) */
.profile-pic {
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	/* 흰색 원 */
	border-radius: 50%;
	/* 원으로 만들기 */
	flex-shrink: 0;
	/* 찌그러지지 않게 */
}

/* 유저 정보 (아이디 + 이메일) */
.user-info {
	display: flex;
	flex-direction: column;
	/* 세로로 쌓기 */
	justify-content: center;
	margin-left: 12px;
	flex-grow: 1;
	/* 남는 공간 다 차지 */

	/* 글자가 박스를 뚫고 나가지 않게 함 */
	min-width: 0;
}

.user-id {
	font-family: "Istok Web-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 18px;

	/* (추가) 글자가 길어지면 ... 처리 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.user-email {
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #555555;
	font-size: 14px;
	margin-top: 4px;

	/* (추가) 글자가 길어지면 ... 처리 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 작은 로그아웃 버튼 */
.logout-btn-small {
	font-family: "Inter-Regular", Helvetica;
	font-size: 13px;
	font-weight: 600;
	color: #333;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 20px;
	padding: 6px 12px;
	flex-shrink: 0;
	cursor: pointer;
	margin-left: 10px;
}

.logout-btn-small:hover {
	background-color: #f8f8f8;
}


/*
 * =========================================
 * 3. 게시글 관련 스타일 (기존과 동일)
 * =========================================
 */

/* --- 왼쪽 게시글 목록 (배경 박스) --- */
.index .article-list-box {
	position: absolute;
	top: 254px;
	left: 98px;
	width: 806px;
	height: 653px;
	background-color: #ffffff;
	border-radius: 30px;
	border: 2px solid;
	border-color: #00000061;

	padding: 27px 49px;
	box-sizing: border-box;
}

/* "글 목록" 타이틀 */
.index .article-list-box .text-wrapper {
	font-family: "Istok Web-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 32px;
	margin-bottom: 20px;
}

/* 게시글 목록 (스크롤 영역) */
.index .article-list-box .article-list {
	width: 100%;
	height: calc(100% - 52px);
	/* 타이틀 높이 제외 */
	overflow-y: auto;
	/* 게시글 많아지면 스크롤 */
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* 게시글 사이 간격 */
}

/* 게시글 1개 아이템 (<a> 태그) */
.article-item {
	display: flex;
	align-items: center;
	width: 707px;
	/* 피그마 기준 너비 */
	height: 52px;
	background-color: #fbdbdb;
	text-decoration: none;
	color: #000000;
	padding: 5px 0;
	/* 위아래 여백 */
	box-sizing: border-box;
}

/* 썸네일 (하얀 박스) */
.article-image {
	width: 83px;
	height: 43px;
	background-color: #ffffff;
	margin-left: 17px;
	flex-shrink: 0;
}

/* 글 내용 (제목 + 정보) */
.article-content {
	flex-grow: 1;
	/* 남는 공간 다 차지 */
	margin-left: 20px;
	min-width: 0;
	/* Flexbox ... 처리를 위해 */
}

.article-title {
	font-family: "Istok Web-Bold", Helvetica;
	font-weight: 700;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.article-info {
	font-family: "Istok Web-Bold", Helvetica;
	font-weight: 700;
	font-size: 10px;
	margin-top: 4px;
}

/* 추천수 */
.article-recs {
	font-family: "Istok Web-Bold", Helvetica;
	font-weight: 700;
	font-size: 16px;
	margin-left: auto;
	/* 오른쪽 끝으로 밀어내기 */
	margin-right: 20px;
	flex-shrink: 0;
}

/*
 * =========================================
 * 2. login-page.html (로그인 페이지) 스타일
 * (★ 이 부분만 수정했습니다 ★)
 * =========================================
 */

.login-page {
	background-color: #ffffff;
	width: 100%;
	min-width: 1440px;
	min-height: 1024px;
	position: relative;
}

.login-page .rectangle {
	position: absolute;
	top: -41px;
	left: 0;
	width: 1440px;
	height: 1024px;
	background-color: #ffffff;
}

.login-page .menu-box {
	position: absolute;
	top: 256px;
	left: 353px;
	width: 734px;
	height: 653px;
	background-color: #ffffff;
	border-radius: 30px;
	border: 2px solid;
	border-color: #00000061;
}

/* [추가] 폼(form)의 위치를 잡아줍니다. 
   (login-box와 login-btn의 위치를 사용) */
.login-form-wrapper {
	position: absolute;
	top: 388px;
	left: 476px;
	width: 491px;
}


/* [수정] .login-box (입력창 래퍼)
   - position: absolute를 제거합니다 (부모인 form-wrapper가 위치를 잡음)
   - <div>였던 것을 <input> 디자인으로 변경합니다.
*/
.login-page .login-box {
	/* (기존) position, top, left 제거 */
	width: 486px;
	height: 170px;
	background-color: #ffffff;
	border-radius: 30px;
	border: 2px solid;
	border-color: #00000061;

	/* (추가) 내부 input-group 정렬 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px;
	/* 좌우 여백 */
	box-sizing: border-box;
}

/* [추가] 아이디/비밀번호 입력 영역 (input-group) */
.input-group {
	padding: 10px 20px;
	/* 피그마의 여백과 유사하게 */
}

/* [추가] 아이디와 비밀번호 사이의 '선' */
.input-group:first-child {
	border-bottom: 2px solid #00000030;
	/* 옅은 회색 선 */
}

/* [추가] 폼 라벨 (피그마의 .text-wrapper-2/3 스타일 적용) */
.input-group label {
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #969191;
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
}

/* [추가] 폼 입력창 (input) */
.input-group input {
	width: 100%;
	border: none;
	/* 테두리 제거 */
	outline: none;
	/* 클릭 시 파란 테두리 제거 */
	font-size: 20px;
	padding: 5px 0;
	box-sizing: border-box;
}


/* [수정] .login-btn (로그인 버튼)
   - position: absolute를 제거합니다. (form-wrapper가 위치를 잡음)
   - div 스타일(.div, .text-wrapper)을 <button>에 합칩니다.
*/
.login-page .login-btn {
	/* (기존) position, top, left 제거 */

	/* (추가) 폼 안에서 위치 조절 */
	margin-top: 40px;
	/* 입력창과 간격 띄우기 */

	/* (기존) .div와 .text-wrapper 스타일 합침 */
	width: 487px;
	height: 63px;
	background-color: #1db51d;
	border-radius: 30px;
	border: 2px solid #00000061;

	font-family: "Istok Web-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 32px;
}