<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/css/globals.css" />
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>
	<div class="regist-member-page">
		<div class="login-box">
			<div class="div"></div>
			<img class="line" src="img/line-34.svg" />
			<div class="text-wrapper">아이디</div>
			<div class="text-wrapper-2">비밀번호</div>
		</div>
		<div class="login-box-2"></div>
		<div class="login-btn">
			<div class="login-btn-2"></div>
			<div class="text-wrapper-3">회원 가입</div>
		</div>
	</div>
</body>

</html>